<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashback">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <!-- [START gcm_permission] -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--<permission-->
        <!--android:name="com.iconsumer.button.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.iconsumer.button.permission.C2D_MESSAGE" />-->
    <permission
        android:name="com.cashback.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cashback.permission.C2D_MESSAGE" />

    <!-- [END gcm_permission] -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="com.cashback.db.DataProvider"
            android:authorities="@string/provider_authorities"
            android:exported="false" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/facebook_provider"
            android:exported="true" />

        <!-- branch.io -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_key" />

        <!-- App Indexing -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a6690e1d0be24c3ad03e5ab9870c188a49cabeb"
            />

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- gcm_receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- support pre-4.4 KitKat devices -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.cashback" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.cashback.gcm.IgicGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.cashback.gcm.IgicInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.cashback.gcm.RegistrationGcmServices"
            android:exported="false" />

        <activity
            android:name="com.cashback.ui.LaunchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="com.cashback" />
                <data
                    android:host="app.link"
                    android:pathPrefix="/3WGh"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="ui.MainActivity" />
        <activity
            android:name="com.cashback.ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.cashback.ui.account.HelpActivity" />
        <activity android:name="com.cashback.ui.account.TourActivity" />
        <activity android:name="ui.account.PaymentsActivity" />
        <activity android:name="com.cashback.ui.CategoryActivity" />
        <activity android:name="com.cashback.ui.StoreActivity" />
        <activity android:name="com.cashback.ui.allresults.SearchActivity" />
        <activity android:name="com.cashback.ui.login.RestoreActivity" />
        <activity android:name="com.cashback.ui.web.BrowserDealsActivity" />
        <activity android:name="com.cashback.ui.web.BrowserActivity" />
        <activity android:name="com.cashback.ui.allresults.AllResultsActivity" />
        <activity android:name=".ui.account.StoreVisitsActivity" />
        <activity android:name="ui.account.ShoppingReportActivity" />
    </application>
</manifest>
